.card {
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0px 3px 6px #557da526;
  border-radius: 5px;
  margin: 1.5rem;
  border: 2px solid yellow;
}
.line_clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card_h1 {
  color: #43afff;
  font: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.8rem;
  font: normal normal medium 22px/27px Helvetica Neue;
}
.card_p {
  color: #303f60;
  font-size: 14px;
}
