.section {
  background-color: #edf6ff;
  width: 100%;
  height: auto;
}
.section_txts {
  font-size: larger;
  padding-top: 5rem;
}
.section_h2 {
  font-size: 22px;
  padding: 0 11rem;
}
.section_cards {
  display: flex;
  align-items: flex-start;
  padding: 2rem 9rem;
}

.section_img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10%;
  padding: 0 8rem;
}

.section_t {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  margin-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section_span {
  color: orange;
  font-size: 1.8rem;
}
.section_h1 {
  font-size: 22px;
  font: normal normal medium 22px/27px Helvetica Neue;
  margin-bottom: 1.5rem;
  text-align: left;
  padding: 0 10rem;
}

/* media quries */
@media (max-width: 975px) {
  .section_cards {
    padding: 1rem 1rem;
  }
  .section_h2 {
    padding: 0 3rem;
  }
  .section_h1 {
    padding: 0 2.5rem;
  }
  .section_img {
    gap: 5%;
    padding: 0 0.9rem;
  }
}
@media (max-width: 715px) {
  .section_cards {
    padding: 1px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_h2 {
    padding: 0 2rem;
  }
  .section_h1 {
    padding: 0 2rem;
  }
  .section_img {
    gap: 4%;
    padding: 0 0.9rem;
  }
}
@media (max-width: 489px) {
  .section_cards {
    padding: 0px 0px;
    display: inline-block;
    align-items: center;
  }
  .section {
    background-color: #edf6ff;
    width: 100%;
    height: auto;
  }
  .section_img {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
  }
}
