/* media quries */
@media (max-width: 975px) {
  .section_cards {
    padding: 1rem 1rem;
  }
  .section_h2 {
    padding: 0 3rem;
  }
  .section_h1 {
    padding: 0 2.5rem;
  }
  .section_img {
    gap: 5%;
    padding: 0 0.9rem;
  }
}
@media (max-width: 715px) {
  .section_cards {
    padding: 1px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_h2 {
    padding: 0 2rem;
  }
  .section_h1 {
    padding: 0 2rem;
  }
  .section_img {
    gap: 4%;
    padding: 0 0.9rem;
  }
}
@media (max-width: 489px) {
  .section_cards {
    padding: 0px 0px;
    display: inline-block;
    align-items: center;
  }
  .section {
    background-color: #edf6ff;
    width: 100%;
    height: auto;
  }
  .section_img {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
  }
}
