.description_content {
  width: 100%;
  height: 144px;
  margin-bottom: 10px;
}
.description_h2 {
  font: normal normal normal 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #303f60;
  padding: 0.5rem 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.description_input {
  color: black;
  width: 100%;
  height: 110px;
  outline-color: #43afff;
  background: #e8e8e833 0% 0% no-repeat padding-box;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 16px;
  padding-bottom: 60px;
}
.description_Fields {
  border: 1px solid red;
}
