.jobappliedyou_header {
  background-color: #303f60;
  width: 100%;
  height: 18vh;
  color: white;
  padding-left: 12rem;
}

.jobappliedyou_section {
  background-color: #edf6ff;
  width: 100%;
  height: 115vh;
}
.jobappliedyou_topbar {
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 5px;
  font-size: 12px;
  opacity: 0.8;
}
.jobappliedyou_topbar img {
  width: 10px;
  height: 9px;
  margin-right: 5px;

  cursor: pointer;
}
.jobappliedyou_topbar span {
  color: #ffffff;
  font-size: 12px;
  opacity: 80%;
  width: 33px;
  height: 15px;
  font: normal normal medium 12px/15px Helvetica Neue;
}
.jobappliedyou_para {
  margin-top: 1rem;
}
.jobappliedyou_para h1 {
  width: 201px;
  height: 26px;
  font: normal normal medium 22px/27px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 22px;
}
.postedjob_allcards {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.jobappliedyou_footers {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1%;
  padding-top: 55rem;
}
.jobappliedyou_footers img {
  width: 30px;
  height: 30px;
  background: transparent 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 7px;
  opacity: 0.6;
  cursor: pointer;
}
.postjobyou_span {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #43afff33 0% 0% no-repeat padding-box;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}
.postjoballcards {
  width: 260px;
  height: 162px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #557da526;
  border-radius: 5px;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  position: relative;
  text-transform: capitalize;
}
.postjob_mycard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.postjobmycard_heading {
  width: 100%;
  height: 20px;
  font: normal normal normal 17px/20px Helvetica Neue;
  letter-spacing: 0px;
  color: #303f60;
  opacity: 1;
  font-size: 17px;
}

.postjobmycard_para {
  width: 229px;
  /* height: 64px; */
  font: normal normal normal 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #303f60;
  opacity: 0.8;
  margin: 8px 0;
}
.line_clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line_clamps {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.postjobmycard_locsection {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  justify-content: center;
}
.postjobmycard_locationcard {
  display: flex;
  margin-right: 1rem;
}
.postjobmycard_locationcard img {
  width: 10px;
  height: 15px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.postjobmycard_h3 {
  width: 64px;
  height: 16px;
  font: normal normal normal 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #303f60;
  opacity: 0.8;
}
.postjobmycard_btn {
  width: 125px;
  height: 32px;
  background: #43afff33 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  cursor: pointer;
  color: #303f60;
  text-transform: capitalize;
  font: normal normal normal 12px/14px Helvetica Neue;
  font-size: 12px;
  padding: 8px;
}

.jobapply_section {
  margin-top: 10rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
}
.jobapply_h2 {
  width: 292px;
  height: 23px;
  color: #303f60;
  font-size: 20px;
  opacity: 0.8;
  padding: 1rem 0;
  font: normal normal normal 20px/24px Helvetica Neue;
}
.jobapply_btn {
  width: 148px;
  height: 46px;
  background: #43afff 0% 0% no-repeat padding-box;
  border: 1px solid #43afff;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  cursor: pointer;
  color: #ffffff;
}
.jobapply_img {
  width: 106px;
  height: 106px;
  opacity: 0.5;
  background: transparent 0% 0% no-repeat padding-box;
}

@media (max-width: 330px) {
  .jobappliedyou_header {
    background-color: #303f60;
    width: 100%;
    height: 18vh;
    color: white;
    padding: 0 2rem;
  }
}
