.header {
  background-color: #303f60;
  width: 100%;
  height: 42vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5.5rem;
  position: relative;
}
.header_txt {
  color: #ffffff;
  font-size: 1rem;
  /* left: 15rem; */
  margin-left: 100px;
  text-align: start;
  /* position: absolute; */
}
.header_h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  padding-bottom: 1.5rem;
  font: normal normal normal 60px/74px Helvetica Neue;
}
.header_btns {
  border: 1px solid #43afff;
  padding: 0.6rem 1.8rem;
  background-color: #43afff;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.header_span {
  color: #43afff;
  font-weight: bold;
}
.header_imgs {
  margin-top: 9rem;
}
.header_img {
  width: 600px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 30px 36px #557da526;
  position: absolute;
  bottom: -4rem;
  right: 10rem;
}
/* media quries */
@media (max-width: 738px) {
  .header {
    /* background-color: red; */
    width: 100%;
    height: 25vh;
    position: relative;
  }
  .header_txt {
    color: #ffffff;
    font-size: 1rem;
    margin: auto;
    text-align: start;
  }
  .header_h1 {
    font-size: 2rem;
    line-height: 1.5;
    /* display: flex; */
  }
  .header_imgs {
    margin-top: 0rem;
    margin: auto;
  }
  .header_img {
    width: 300px;
    object-fit: contain;
    /* aspect-ratio: 16/9; */
    border-radius: 5%;
    box-shadow: 0px 30px 36px #557da526;
    position: absolute;
    bottom: -12rem;
    right: 4rem;
    /* transform: translate(50%, 50%); */
  }
}
