@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-background {
  background: transparent
    linear-gradient(248deg, var(--unnamed-color-303f60) 0%, #1a253c 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(248deg, #303f60 0%, #1a253c 100%) 0%
    0% no-repeat padding-box;
}

.inputError {
  border: 1px solid red;
}

.d-none {
  display: none !important;
}
.mainWrapper {
  max-width: 1300px;
  margin: auto;
}
