@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #edf6ff;
  }
  /* * {
    background: #edf6ff;
    border: 1px solid red;
  } */
}
.bg-background {
  background: transparent
    linear-gradient(248deg, var(--unnamed-color-303f60) 0%, #1a253c 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(248deg, #303f60 0%, #1a253c 100%) 0%
    0% no-repeat padding-box;
}

.inputError {
  border: 1px solid red;
}

.d-none {
  display: none !important;
}
.mainWrapper {
  max-width: 1500px;
  margin: 0 auto;
}
.star_red {
  color: red;
}
.mytexts {
  @apply text-3xl sm:text-5xl md:text-7xl lg:text-[min(4.2vw,80px)];
}
.box-shadows {
  box-shadow: 0px 30px 36px #557da526;
}
.signup-border {
  border: 1px solid #c6c6c6;
}
.BtnTrue {
  border: 1px solid #43afff;
  color: #fff;
  background: #43afff 0% 0% no-repeat padding-box;
}
.bg {
  background: rgba(0, 0, 0, 0.8);
}
.line-clamps {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* animation */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -70px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -70px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.toast-contt{
  margin-top: 3.5rem !important;
  margin-right: 3.5rem;
}
input,
input::placeholder{
  color: #303f60;
  opacity: 0.8;
}

input{
  color: #000;
}

input:focus {
  color: #303F60;
}

textarea{
  color: #000;
}

textarea::placeholder{
  color: #303F60;
  opacity: 0.8;
}
textarea:focus {
  color: #303F60;
}